.Event-title {
  display: flex;
  justify-content: center;
}

.flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Event-content {
  padding: 18px;
}

.Edit-button {
  padding: 20px;
  border-radius: 18px;
}
