/* Fill me in :) */
.title {
  font-size: xx-large;
  text-align: center;
  color: var(--primary);
}

.input-description {
  margin-left: 5%;
  color: var(--primary);
  font-size: x-large;
}

.input-box {
  color: #ef5c5c;
  font-size: 25px;
  margin-left: 5%;
  padding: 8px;
  width: 40%;
  border-radius: 8px;
}

.create-event-button {
  padding: 8px;
  background-color: #ef5c5c;
  font-size: large;
  color: white;
  border-radius: 8px;
  margin-left: 18px;
}

.input-box::placeholder {
  color: #ef5c5c;
}
