/* Fill me in :) */
.Title {
  font-size: xx-large;
  text-align: center;
  color: var(--primary);
}

.Input-description {
  margin-left: 5%;
  color: var(--primary);
  font-size: x-large;
}

.Input-box {
  color: #ef5c5c;
  font-size: 25px;
  margin-left: 5%;
  padding: 8px;
  width: 40%;
  border-radius: 8px;
}

.Create-event-button {
  padding: 8px;
  background-color: #ef5c5c;
  font-size: large;
  color: white;
  border-radius: 8px;
  margin-left: 18px;
}

.Create-event-button:hover {
  background-color : rgb(224, 68, 68);
}

.Input-box::placeholder {
  color: #ef5c5c;
}

.Event-Container {
  width: 50%;
  margin: auto;
}
